<div class="wrapper">
  <header class="main-header">
    <a href="/" class="logo">BokuBoard <small>0.1.0</small></a>
    <nav class="navbar navbar-static-top">
      <div class="container-fluid">
        <!-- header / nav -->
        <div class="collapse navbar-collapse">
          <!-- header / nav / left -->
          <ul class="nav navbar-nav">
            <li><a href="#">Link</a></li>
          </ul>
          <!-- header / nav / right -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li><a href="#">Link</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">
    <div class="sidebar">
      <ul class="sidebar-menu">
        <li class="header">Dataset bookmarks</li>
        <li class="active"><a href="#"><i class="fa fa-table"></i>Dataset 1</a></li>
        <li><a href="#"><i class="fa fa-table"></i>Dataset 2</a></li>
        <li><a href="#"><i class="fa fa-table"></i>Dataset 3</a></li>
      </ul>
    </div>
  </aside>
  <div class="content-wrapper" style="min-height: calc(100vh - 50px);">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="page-header">Header 1</h1>
        </div>
      </div>
    </div>
  </div>
</div>
